<div class="list row">
    <div class="col-md-6">
      <h4>Todo  List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let todo of todos; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(todo, i)"
        >
        <button type="button" class="close" aria-label="Close" (click)="removeTodo(todo)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>
          {{ todo.title }}
        </h1>
        <h4>
          {{ todo.description }}

        </h4>
      </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
        Remove All
      </button>
    </div>
  
    <div class="col-md-6">
      <div *ngIf="currentTodo">
        <app-tutorial-details
          (refreshList)="refreshList()"
          [tutorial]="currentTutorial"
        ></app-tutorial-details>
      </div>
     </div> 
  </div>